<header class="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/images/logo-white.svg" alt="Vegan Foods logo" class="nav__logo"/>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav__link" th:text="#{menu.home}" th:href="@{'/'}"></a></li>
                <li><a class="nav__link" th:text="#{menu.catalog}" th:href="@{'/tienda'}"></a></li>
            </ul>
            <div class="d-flex gap--1">
                <div class="d-flex">
                    <a href="?lang=es" class="text-center as-center"><img src="/images/spanish-flag.jpg" alt="Cambiar idioma a español" style="width: 55%;" /></a>
                    <a href="?lang=en" class="text-center as-center"><img src="/images/uk-flag.jpg" alt="Change language to english" style="width: 55%;" /></a>
                </div>
                <div class="text-end">
                    <a class="btn btn__sign-up mr--1" th:text="#{menu.register}" th:href="@{'/registro'}" sec:authorize="!isAuthenticated()"></a>
                    <a class="btn btn-outline-light" th:text="#{menu.login}" th:href="@{'/login'}" sec:authorize="!isAuthenticated()"></a>
                </div>
                <div class="dropdown text-end" sec:authorize="isAuthenticated()">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/user.svg" th:alt="#{menu.login}" />
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" th:text="#{menu.profile}" th:href="@{/perfil-usuario}"></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:text="#{menu.logout}" th:href="@{/logout}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>