/*****************
* GENERAL STYLES *
*****************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Reem Kufi', 'Arial', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    margin: 0.8em 0;
}

body, p, span {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

strong {
    font-weight: 700;
}


a, a:hover {
    transition: 0.4s ease-in;
}

a {
    text-decoration: none;
    color: #a1d4a1;
}

a:hover {
    color: #61b161;
}

.btn {
    background-color: #61b161;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    border: none;
}

.btn-danger {
    background-color: #dc3545!important;
}

.btn-danger:hover {
    background-color: #dd4d5b!important;
}

.btn:hover {
    background-color: #418541;
    color: #fff;
}

.form-control:focus {
    border-color: #a1d4a1;
    box-shadow: 0 0 0 0.25rem rgb(187 255 179 / 25%);
}

.form-control::placeholder {
    color: #abceab;
}


/********
* HEADER *
********/

.header {
    padding: 2rem;
    background-color: #a1d4a1;
}

.nav__link {
    font-family: 'Reem Kufi', 'Arial', sans-serif;
    padding: 0 0.5rem!important;
    color: #fff;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.4s ease-in;
    font-size: 1.2em;
    margin-top: 0.6em;
}

.nav__link:hover {
    color: #e6f3e6;
    transition: 0.4s ease-in;
}

.nav__logo {
    margin-right: 1em;
}

.btn, .btn:hover {
    transition: 0.4s ease-in;
}

.btn__sign-up {
    background-color: #fff;
    color: #a1d4a1;
}

.btn__sign-up:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #ffffff26;
}

.dropdown-toggle::after {
    color: #fff;
}


/********
* HERO *
********/

.hero {
    background-image: url('/images/likenuggets.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
}

.hero__content {
    background-color: #fff;
    padding: 2em 1em;
}

.product-highlight {
    padding: 1em;
    background-color: #a1d4a1;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.hero__title {
    margin: 0.8em 0 0.4em 0;
}


/********
* INTRO *
********/

.intro {
    margin: 4em 0 2em 0;
}

.intro__title {
    color: #a1d4a1;
    margin-bottom: 0.5em;
}


/**********
* CATALOG *
**********/

.catalog {
    margin: 2em 0 4em 0;
}

.shop__header {
    background-image: url('/images/catalog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 5rem;
    color: #fff;
}

.shop__search {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.shop__filter__radio {
    display: flex;
    gap: 0.5rem;
    color: #808080;
}

.shop__clean-filters {
    text-transform: uppercase;
    font-weight: 500;
    height: fit-content;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    align-self: center;
}

.product__img {
    width: 70%;
    height: 400px;
    object-fit: contain;
}

.product__title {
    color: #000;
}


/***************
* PRODUCT PAGE *
***************/

.product-page__img {
    width: 100%;
}

.product-page__price {
    font-weight: bold;
    color: #a1d4a1;
    font-size: 1.5rem;
}

input#quantity {
    width: 10%!important;
    text-align: right!important;
}
.card {
    border-radius: 0;
    height: 600px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/***************
* ORDER TABLES *
***************/

.order__table {
    border: 1px solid #ced4da;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0.25rem;
}

.order__table__img {
    width: 15%;
}


/*********
* FOOTER *
*********/

.footer {
    background-color: #a1d4a1;
}

.footer a {
    display: block;
    color: #fff;
}