<span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>

<main>
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 hero__content">
                    <span class="product-highlight">Producto destacado</span>
                    <h2 class="hero__title">Nuggets de soja LikeNuggets</h2>
                    <p>¡Disfruta de tus comidas favoritas <strong>de forma ligera, sin carne y ¡equilibrada!</strong> Like Nuggets es una gran alternativa de comida rápida y plant-based hecha a base de <strong>soja ecológica certificada</strong>. <strong>¡Pruébalos!</strong></strong></p>
                    <a th:href="@{'/productos/7'}" class="btn">Comprar ahora</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="intro">
            <div class="row">
                <div class="col-lg-12 align-center">
                    <h1 class="intro__title">Vegan Foods</h1>
                    <p>En <strong>Vegan Foods</strong> encontrarás productos veganos de la más alta calidad. Trabajamos con diferentes proveedores nacionales e internacionales para traeros los mejores productos <i>plant-based</i>.</p>
                    <a th:href="@{'/tienda'}" class="btn">Visita nuestro catálogo</a>
                </div>
            </div>
        </section>
        <section class="catalog">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Últimos productos añadidos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" th:each="product,iterStat : ${products}" th:if="${iterStat.index >= iterStat.size-3}">
                    <div class="card shadow-sm">
                        <a th:href="@{'productos/' + ${product.id}}" class="align-center"><img th:src="${product.image}" th:alt="${product.name}" class="product__img" /></a>
                        <div class="card-body">
                            <a th:href="@{'productos/' + ${product.id}}" class="product__title"><h3 th:text="${product.name}"></h3></a>
                            <p class="card-text" th:text="${product.description}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{'productos/' + ${product.id}}" class="btn">Ver producto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>

<span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>