<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mv--5">
                    <h1>Iniciar sesión</h1>
                    <form class="mt--2" th:action="@{/login}" method="post">
                        <div class="mv--1">
                            <label for="username" class="visually-hidden">Usuario</label>
                            <input type="text" id="username" class="form-control" placeholder="Nombre de usuario" name="username" required>
                        </div>
                        <div class="mv--1">
                            <label for="password" class="visually-hidden">Contraseña</label>
                            <input type="password" id="password" class="form-control" placeholder="Contraseña" name="password" required>
                        </div>
                        <div class="mv--1">
                            <input type="checkbox" value="remember-me"> Recordarme</input>
                        </div>
                        <button type="submit" class="btn btn-lg">Entrar</button>
                        <br/><br/>
                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Usuario y/o contraseña incorrectos. Por favor vuelve a intentarlo de nuevo.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
</html>