<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title>Logout realizado con éxito | Vegan Foods</title>
    </head>
    <body>
        <main>
            <h1>Logout realizado con éxito.</h1>
            <a th:href="@{'/'}" class="btn">Volver al inicio</a>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>