<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    <link href="/css/checkout.css" rel="stylesheet">
    <title th:text="'Detalles del pedido #' + ${order.orderId} + ' | Vegan Foods'"></title>
</head>
<body>
<span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
<main>
    <div class="container">
        <div class="row mv--5">
            <div class="col-lg-12">
                <div class="d-flex gap--1 mb--2">
                    <h1 th:text="'Pedido #' + ${order.orderId}" class="m--0"></h1>
                    <form th:action="@{/cancelar-pedido}" method="post" class="as-center">
                        <input class="d-none" type="number" id="id" name="id" th:value="${order.orderId}" />
                        <button class="btn btn-danger shop__clean-filters" type="submit">x Cancelar pedido</button>
                    </form>
                </div>
                <p>Fecha: <span th:text="${order.date}"></span></p>
                <h3>Datos del pedido</h3>
                <div class="order__table mv--2">
                    <img th:src="${product.image}" th:alt="${product.name}" class="order__table__img" />
                    <a th:href="@{'/productos/' + ${product.id}}" class="as-center"><span th:text="${product.name}"></span></a>
                    <span class="as-center" th:text="${product.price} + '€'"></span>
                    <span class="as-center" th:text="${order.quantity}"></span>
                </div>
                <h3 class="mt--3">Datos del envío</h3>
                <div class="mt--2">
                    <p>Dirección: <span th:text="${order.shippingAddress}"></span></p>

                    <p>¿Solicita envío express?:
                        <span th:if="${order.expressShipping}">SÍ</span>
                        <span th:if="${!order.expressShipping}">NO</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
</body>
</html>