<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    <link href="/css/checkout.css" rel="stylesheet">
    <title>Pedido completado | Vegan Foods</title>
</head>
<body>
<span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
<main>
    <div class="container">
        <div class="row mv--5">
            <div class="col-lg-12">
                <h1>Pedido completado</h1>
                <p><strong>¡Muchas gracias por tu compra!</strong> Lo enviaremos a la mayor brevedad posible.</p>
                <p>Si deseas <strong>cancelar</strong> tu pedido tienes un <strong>máximo de 24 horas</strong> para hacerlo.</p>
                <p>También puedes acceder a tu <strong><a th:href="@{'/perfil-usuario'}">perfil de usuario</a></strong> para ver un histórico de todos los pedidos realizados.</p>
            </div>
        </div>
    </div>
</main>
<span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
</body>
</html>