<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    <link href="/css/checkout.css" rel="stylesheet">
    <title>Pedido completado | Vegan Foods</title>
</head>
<body>
<span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
<main>
    <div class="container">
        <div class="row mt--5">
            <div class="col-lg-12">
                <h1>Pedido completado</h1>
            </div>
        </div>
    </div>
</main>
<span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
</body>
</html>