<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>

    <main>
        <div class="container mv--5">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mi perfil</h1>
                    <form method="POST" th:action="@{/usuario-actualizado}">
                        <label class="labels">ID de usuario</label><input type="text" class="form-control" id="id" th:field="*{user.id}" th:value="${user.id}" disabled>
                        <label class="labels">Nombre de usuario</label><input type="text" class="form-control" id="username" th:field="*{user.username}" th:value="${user.username}">
                        <label class="labels">Contraseña</label><input type="password" class="form-control" id="password" th:field="*{user.password}">
                        <label class="labels">Nombre</label><input type="text" class="form-control" id="name" th:field="*{user.name}" th:value="${user.name}">
                        <label class="labels">Primer apellido</label><input type="text" class="form-control" id="firstName" th:field="*{user.firstName}" th:value="${user.firstName}">
                        <label class="labels">Segundo apellido</label><input type="text" class="form-control" id="lastName" th:field="*{user.lastName}" th:value="${user.lastName}">
                        <label class="labels">Email</label><input type="text" class="form-control" id="email" th:field="*{user.email}" th:value="${user.email}">
                        <label class="labels">Dirección</label><input type="text" class="form-control" id="address" th:field="*{user.address}" th:value="${user.address}">
                        <label class="labels">Ciudad</label><input type="text" class="form-control" id="city" th:field="*{user.city}" th:value="${user.city}">
                        <label class="labels">Fecha de alta</label><input type="text" class="form-control" id="creationDate" th:field="*{user.creationDate}" th:value="${user.creationDate}" disabled>
                        <label class="labels">Cuenta activa</label><input type="text" class="form-control" id="active" th:field="*{user.active}" th:value="${user.active}" disabled>
                        <button type="submit" class="btn btn-lg">Actualizar información</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
</html>