<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title>Producto no disponible | Vegan Foods</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mv--5">
                        <p>El producto que has solicitado no está disponible. Por favor vuelve al <a href="/">inicio</a>.</a></p>
                    </div>
                </div>
            </div>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>