<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title th:text="${product.name} + ' | Vegan Foods'"></title>
    </head>
    <body>
        <span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <main class="product-page">
            <div class="container">
                <div class="row mv--5">
                    <div class="col-lg-6">
                        <img th:src="${product.image}" th:alt="${product.name}" class="product-page__img" />
                    </div>
                    <div class="col-lg-6">
                        <span th:text="${product.category}" class="product-highlight"></span>
                        <h1 th:text="${product.name}" class="mt--1"></h1>
                        <p th:text="${product.price} + ' €'" class="product-page__price"></p>
                        <h3>Descripción del producto</h3>
                        <p th:text="${product.description}"></p>
                    </div>
                </div>
            </div>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>