<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title th:text="#{error-product.title} + ' | Vegan Foods'"></title>
    </head>
    <body>
        <span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mv--5">
                        <h1 th:text="#{error-product.title}"></h1>
                        <p><span th:text="#{error-product.subtitle}"></span><a href="/" th:text="#{error-product.link}">inicio</a>.</a></p>
                    </div>
                </div>
            </div>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>