<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title th:text="#{register.meta-title} + ' | Vegan Foods'"></title>
    </head>
    <body>
        <span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mv--5">
                        <h1 th:text="#{register.title}"></h1>
                        <p th:text="#{register.subtitle}"></p>
                        <form class="mt--2" th:action="@{/registro-completado}" method="post" th:object="${user}">
                            <div class="mv--1">
                                <label for="username" class="form-label" th:text="#{common.username}"></label>
                                <input type="text" id="username" th:field="*{username}" class="form-control" th:placeholder="#{common.username}" />
                            </div>
                            <div class="mv--1">
                                <label for="email" class="form-label" th:text="#{common.email}"></label>
                                <input type="text" id="email" th:field="*{email}" class="form-control" th:placeholder="#{common.email}" />
                            </div>
                            <div class="mv--1">
                                <label for="password" class="form-label" th:text="#{common.password}"></label>
                                <input type="password" id="password" th:field="*{password}" class="form-control" th:placeholder="#{common.email}" />
                            </div>
                            <div class="mv--1">
                                <label for="name" class="form-label" th:text="#{common.name}"></label>
                                <input type="text" id="name" th:field="*{name}" class="form-control" th:placeholder="#{common.name}" />
                            </div>
                            <div class="mv--1">
                                <label for="first_name" class="form-label" th:text="#{common.first-name}"></label>
                                <input type="text" id="first_name" th:field="*{firstName}" class="form-control" th:placeholder="#{common.first-name}" />
                            </div>
                            <div class="mv--1">
                                <label for="first_name" class="form-label" th:text="#{common.last-name}"></label>
                                <input type="text" id="last_name" th:field="*{lastName}" class="form-control"  th:placeholder="#{common.last-name}" />
                            </div>
                            <div class="mv--1">
                                <label for="address" class="form-label" th:text="#{common.address}"></label>
                                <input type="text" id="address" th:field="*{address}" class="form-control" th:placeholder="#{common.address}" />
                            </div>
                            <div class="mv--1">
                                <label for="city" class="form-label" th:text="#{common.city}"></label>
                                <input type="text" id="city" th:field="*{city}" class="form-control" th:placeholder="#{common.city}" />
                            </div>
                            <button type="submit" class="btn btn-lg mt--1" th:text="#{register.cta}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>