<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title>Registro | Vegan Foods</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mv--5">
                        <h1>Registro en VeganFoods</h1>
                        <p>Regístrate ahora y recibe exclusivas novedades y ofertas especiales disponibles solo para nuestros usuarios.</p>
                        <form class="mt--2" action="#" th:action="@{/registro-completado}" method="post" th:object="${user}">
                            <div class="mv--1">
                                <label for="username" class="form-label">Nombre de usuario</label>
                                <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Nombre de usuario" />
                            </div>
                            <div class="mv--1">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="E-mail" />
                            </div>
                            <div class="mv--1">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Contraseña" />
                            </div>
                            <div class="mv--1">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Nombre" />
                            </div>
                            <div class="mv--1">
                                <label for="first_name" class="form-label">Primer apellido</label>
                                <input type="text" id="first_name" th:field="*{firstName}" class="form-control" placeholder="Primer apellido" />
                            </div>
                            <div class="mv--1">
                                <label for="first_name" class="form-label">Segundo apellido</label>
                                <input type="text" id="last_name" th:field="*{lastName}" class="form-control" placeholder="Segundo apellido" />
                            </div>
                            <div class="mv--1">
                                <label for="address" class="form-label">Dirección</label>
                                <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="Dirección" />
                            </div>
                            <div class="mv--1">
                                <label for="city" class="form-label">Ciudad</label>
                                <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="Ciudad" />
                            </div>
                            <button type="submit" class="btn btn-lg mt--1">Darme de alta</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>