<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <span th:replace="fragments/metadata.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <title th:text="#{register-ok.meta-title} + ' | Vegan Foods'"></title>
    </head>
    <body>
        <span th:replace="fragments/header.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mv--5">
                        <div class="alert alert-success" role="alert">
                            <p class="m--0"><span th:text="#{common.user}"></span> <strong th:text="${user.username}"></strong> <span th:text="#{register-ok.success}"></span>.</p>
                        </div>
                        <h1 class="intro__title" th:text="#{register-ok.title}"></h1>
                        <p><span th:text="#{register-ok.access}"></span> <a th:href="@{'/login'}" th:text="#{register-ok.link}"></a> <span th:text="#{register-ok.account}"></span></p>
                    </div>
                </div>
            </div>
        </main>
        <span th:replace="fragments/footer.html" xmlns:th="http://www.w3.org/1999/xhtml"></span>
    </body>
</html>
